* {
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(to right, #EDC7B7, #FCFBE3);*/
  background-color: white;
  font-family: 'Roboto', Futura, sans-serif;
  font-size: 14px;
}

/*==============COMPONENT STYLES==============*/

/*=====================LEAD=====================*/

.lead-body {
  background: url('./images/mountain.jpg');
  background-color: #D1E8E2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100vw;
  margin-top: -10px;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.lead-header {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  flex: 6;
  margin: auto 0;
  /*border: 2px solid black;*/
}


.lead-image {
  display: flex;
  justify-content: center;
  flex: 2;
  /*border: 2px solid black;*/
}

.lead-image img {
  margin-top: 5% 0;
  height: 100px;
  width: 150px;
}

.name {
  font-size: 60px;
  font-weight: bold;
  color: black;
  /*text-shadow: 1px 2px 2px grey;*/
  margin: 2% auto 0% auto;
}

.lead-content {
  display: flex;
  justify-content: center;
  }

.lead-image {
  /*display: flex;*/
  /*justify-content: center;*/
  /*border: 2px solid black;*/
}

/*.lead-content div {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding: 3% 0 0 3%;
  color: #1B2024;
}

.descriptions {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  color: #1B2024;
}
*/
/*====================MENU====================*/
.menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  /*border: 2px solid red;*/
}

.menu-item {
  display: flex;
/*  font-family: 'Ubuntu', Futura, sans-serif;*/
  font-weight: bold;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0.5px 3% 0% 0%;
  color: black;
  /*text-shadow: 1px 1px 1px grey;*/
}

.menu-item:hover {
  font-size: 30px;
}

.menu a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

/*====================ABOUT====================*/

.about-title {
  font-size: 40px;
  color: #A37B73;
  margin: 5% auto;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 5%;
  /*height: 400px;*/
  /*padding-top: 1%;*/
}

.about-photo img {
  display: flex;
  border-radius: 50%;
  margin: 0 10%;
}

.about-main {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 0 10%;
  /*border-right: 5px solid #1F2833;*/
  /*border-top: 5px solid #1F2833;*/
  /*border: 2px solid black;*/
}

.about-content {
  /*margin: 5% 10%;*/
  color: #1F2833;
  font-size: 20px;
}

.icons{
  display: flex;
  justify-content: space-around;
  margin: 5% 20% 0 20% ;
}


/*====================TECH ICONS====================*/

.about-tags-container {
  background-color: #EEE0CB;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 10%;
}

.tech-left {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  margin-left: 5%;
  color: black;
}

.tech-right {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: right;
  margin-right: 5%;
  color: black;
}

.about-tags {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  margin: auto;
  /*align-items: flex-start;*/
  /*border: 2px solid black;*/
}

.about-tags img {
  display: flex;
  width: 60px;
  margin: 2% 2.5%;
  /*border: 1px solid black;*/
  height: 60px;
}

.about-tags::before, .about-tags::after {
  content: '';
  order: 1;
  width: 100%;
}

.about-tags img:nth-child(n + 7) {
  order: 1;
}

/*====================PROJECTS====================*/

.projects-title {
  /*font-family: 'Comfortaa', cursive;*/
  font-weight: bold;
  text-align: center;
  width: 65%;
  margin: 7.5% auto 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 30px;
  color: black;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}

.project video{
  margin: -7% auto -10% auto;
}

.media {
  display: flex;
  flex: 2;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 5%;
}

.title {
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 25px;
}

.text-description {
  font-size: 18px;
  padding-bottom: 5%;
}

.tech {
  font-size: 18px;
}


/*==============================================*/

/*.project-container {
  margin-top: 10%;
  border-top: 3px solid #1F2833;
  background: linear-gradient(to top, white, #D1E8E2 25%, #D1E8E2 30%, white 100%);
}*/

/*.projects-main {*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*background-color: #1F2833;*/
  /*border: 3px solid black;*/
/*  margin: 5% auto;
  width: 80%;
}*/

/*.project-header {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 10%;
  width: 50%;
  font-family: 'Inconsolate', sans-serif;
  color: black;
  border: 2px solid black;
  font-size: 65px;
}

.text {
  display: flex;
  flex-direction: column;
  height: 100px;
  color: #1F2833;
}
*/
/*.title {
  display: flex;
  align-self: flex-start;
  padding: 1%;
  font-size: 20px;
  border: 2px solid red;
}*/

/*.text-description,
.tech {
  display: flex;
  align-self: flex-start;
  padding: 3%;
  font-size: 15px; 
  border: 2px solid green;
}*/

/*.project video {
  align-self: bottom;
  display: flex;
  height: auto;
  margin: 0 auto;
  border: 2px solid #1F2833;
  color: black;
}*/

/*.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}

.prev-button {
  display: flex;
  border-radius: 50%;
  min-height: 75px;
  width: 20%;
  border: 2px solid black;
}*/




/*====================ANIMATIONS====================*/

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}
.bounce {  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.bounce:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}














