* {
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(to right, #EDC7B7, #FCFBE3);*/
  background-color: white;
  font-family: 'Roboto', Futura, sans-serif;
  font-size: 14px;
}

/*==============COMPONENT STYLES==============*/

/*=====================LEAD=====================*/

.lead-body {
  background: url('./images/mountain.jpg');
  background-color: #D1E8E2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100vw;
  margin-top: -10px;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

.lead-header {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  flex: 6;
  margin: auto 0;
  /*border: 2px solid black;*/
}


.lead-image {
  display: flex;
  justify-content: center;
  flex: 2;
  /*border: 2px solid black;*/
}

.lead-image img {
  margin-top: 5% 0;
  height: 100px;
  width: 150px;
}

.name {
  font-size: 60px;
  font-weight: bold;
  color: black;
  /*text-shadow: 1px 2px 2px grey;*/
  margin: 4% auto 0% auto;
}

.lead-content {
  display: flex;
  justify-content: center;
  }

.lead-image {
  /*display: flex;*/
  /*justify-content: center;*/
  /*border: 2px solid black;*/
}

/*.lead-content div {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding: 3% 0 0 3%;
  color: #1B2024;
}

.descriptions {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  color: #1B2024;
}
*/

/*====================MENU====================*/
.menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  /*border: 2px solid red;*/
}

.menu-item {
  display: flex;
/*  font-family: 'Ubuntu', Futura, sans-serif;*/
  font-weight: bold;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0.5px 3% 0% 0%;
  color: black;
  /*text-shadow: 1px 1px 1px grey;*/
}

.menu-item:hover {
  font-size: 30px;
  cursor: pointer;
}

button:focus,
button:active:focus{
    outline:none;
}

button:focus{
    text-decoration:none;
}

.menu a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px grey;
}

/*====================ABOUT====================*/

.about-title {
  width: 30%;
  background-color: #EEE0CB;
  font-size: 40px;
  font-weight: bold;
  margin: 5% auto;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 5%;
  /*height: 400px;*/
  /*padding-top: 1%;*/
}

.about-photo img {
  display: flex;
  border-radius: 50%;
  margin: 0 10%;
}

.about-main {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 0 10%;
  /*border-right: 5px solid #1F2833;*/
  /*border-top: 5px solid #1F2833;*/
  /*border: 2px solid black;*/
}

.about-content {
  /*margin: 5% 10%;*/
  color: #1F2833;
  font-size: 20px;
}



/*====================TECH ICONS====================*/

.about-tags-container {
  background-color: #EEE0CB;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: 10%;
}

.tech-left {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  margin-left: 5%;
  color: black;
}

.tech-right {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  text-align: right;
  margin-right: 5%;
  color: black;
}

.about-tags {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  margin: auto;
  /*align-items: flex-start;*/
  /*border: 2px solid black;*/
}

.about-tags img {
  display: flex;
  width: 60px;
  margin: 2% 2.5%;
  /*border: 1px solid black;*/
  height: 60px;
}

.about-tags::before, .about-tags::after {
  content: '';
  order: 1;
  width: 100%;
}

.about-tags img:nth-child(n + 7) {
  order: 1;
}

/*====================PROJECTS====================*/

@media only screen and (min-width: 481px){
  .projects-title-alt {
    display: none;
  }
}

.projects-title {
  /*font-family: 'Comfortaa', cursive;*/
  font-weight: bold;
  text-align: center;
  width: 65%;
  background-color: #BFD7EA;
  margin: 7.5% auto 0 auto;
  padding: 0.5% 0;
  font-size: 30px;
  color: black;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}

.project video{
  margin: -7% auto -10% auto;
}

.media {
  display: flex;
  flex: 2;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 5%;
}

.title {
  margin-bottom: 10%;
  font-weight: bold;
  font-size: 25px;
}

.text-description {
  font-size: 18px;
  padding-bottom: 5%;
}

.tech {
  font-size: 18px;
}



/*======================FOOTER======================*/
.footer {
  margin-top: 10%;
  background-color: #EEE0CB;
  width: 100vw;
  margin-bottom: 0;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  bottom: 0%;
  left: 50%;
  right: 50%;
}

.icons{
  display: flex;
  padding: 2% 0;
  justify-content: space-around;
  margin: 0 20% 0 20% ;
}

.icon:hover {
  transform: scale(1.5, 1.5);
}




@media only screen and (min-width: 320px) and (max-width: 480px){

  .lead-body {
    height: 200px; 
  }

  .name {
    font-size: 30px;
    font-weight: bold;
    color: black;
    /*text-shadow: 1px 2px 2px grey;*/
    margin: 4% auto 0% auto;
  }

  .menu {
    display: none;
  }


  .about-title {
    font-size: 25px;
    margin: 7.5% auto;
  }

  .about {
    flex-direction: column;
    margin-top: 5%;
  }

  .about-photo img {
    height: 200px;
    margin: 0 3%;
  }

  .about-main {
    margin: 0 3%;
  }

  .about-content {
    font-size: 15px;
  }

  .about-tags-container {
    background-color: #EEE0CB;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: 10%;
  }

  .tech-left {
    font-size: 15px;
    margin-left: 2%;
  }

  .tech-right {
    font-size: 15px;
    margin-right: 2%;
  }

  .about-tags img {
    width: 25px;
    margin: 1% 2%;
    height: 50px;
  }

  .projects-title {
    display: none;
  }

  .projects-title-alt {
    background-color: #BFD7EA;
    width: 80%;
    margin: 10% auto 0 auto;
    font-size: 25px;
  }

  .media {
    display: none;
  }

  .text {
    margin: 0 2%;
  }

  .title {
    font-size: 25px;
    margin: 2% auto;
  }

  .text-description {
    font-size: 15px;
  }

  .tech {
    font-size: 15px;
  }


}













